.container{
    padding-top: 120px;
    text-align: center;
    padding-bottom: 134px;
    max-width: 1600px;
    max-height: 1363px;
}

.container p{
    background-color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 12px;
    width: 190px;
    margin: 0 auto;
}

.container h1{
    margin: 0 auto;
    width: 770px;
    max-width: 1360px;
    font-size: 60px;
}

.container h4{
    font-size: 18px;
    padding-bottom: 15px;
    color: #ffffff81;
}

.btn-2:hover{
    background-color: rgb(96, 255, 189);
    font-size: 14px;
}
.btn:hover{
     background-color: rgb(110, 243, 214);
    font-size: 16px;
}

/* .btn-1:hover{
     background-color: 0 0 8px rgb(199, 243, 110);
    font-size: 16px;
} */
.btn-3:hover{
    background-color: 0 0 8px rgb(199, 243, 110);
    font-size: 16px;
}


.btn{
    width: 251px;
    height: 52px;
    font-size: 16px;
    background-color: #30b630;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}


nav{
    
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    
}


.btn-2{
    width: auto;
    height: 44px;
    background-color: #30b630;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.btn-1{
    display: flex;
    gap: 14px;
    justify-content: center;
    cursor: pointer;
}
.btn-4:hover{
    background-color:0 0 8px 0 #849eb4;
}

nav .menu{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.logo{
  padding-left: 40px;
}

ul .li{
    font-weight: bold;
}

.nav-btn{
    padding-right: 120px;
}

#skills{
    padding-top: 16px;
    text-align: center;
    padding-bottom: 24px;
}


#skills .skill-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
}

#skills .skill-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

#skills .skill-heading h1{
    font-size: 48px ;
    color: #001931;
}

#skills .skill-heading p{
    font-size: 16px;
    color: #627382;
}

#skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
  
    padding: 24px 24px 24px 24px;
    box-shadow: 0 6px 50px 0 #62738244;
    max-width: 322px;
}

.skill-card img{
    max-width: 60px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(236, 72, 72);
    border-radius: 50%;
}

.skill-card h3{
    font-size: 22px;
}

.skill-card p{
    font-size: 16px;
    color: #627382;
}

.contain{
    padding: 120px 120px 120px 120px;
    display: flex;
    gap: 60px;
    max-width: 1220px;
    max-height: 397px;
    padding-bottom: 200px;

}

.contain h3{
    padding-top: 10px;
    padding-bottom: 14px;
    color: #30B868;
}

.contain h1{
    font-size: 48px;
    color: #001931;
}


.contain .pra-1{
    color: #627382; 
    font-size: 16px;
    width: 491px;
    padding-bottom: 20px;
}

.contain .pra-2 i{

    color: #30b630;
    justify-content: space-between;

}

#challange-1{
    padding: 120px 120px 120px 120px;
}

.challange{
    padding-top: 120px;
    text-align: center;
    background-color: #F7F6F2;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1100px;
}

.challange h1{
    font-size: 40px;
    color: #001931;
}

.challange p{
    font-size: 16px;
}



.footer-container{
    background-color: #001931;
    padding-top: 120px;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.footer-container .foot{
    display: flex;
    justify-content: center;
    gap: 940px;
    list-style-type: none;
}

.bottom{
    text-align: center;
    color: #849eb4;
}



